@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.rotation-ico {
  transform: rotate(360deg);
  animation: rotation 20s linear infinite;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  padding-left: 64px;
  margin: 0;
}

.header__subtitle {
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  padding-top: 100px;

}

.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 100px 0;
}

.section-title {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 25px;
  font-weight: normal;
  padding-top: 20px;
}

.table {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.table__cell {
  list-style: none;
  width: 250px;
  margin: 0;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Блок techniques */
.techniques {
  margin: 100px auto 0;
  width: 80%;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 920px;
}

.cards__item {
  padding-right: 100px;
  width: 240px;
}

.cards__item:nth-child(3n) {
  padding-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  padding: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

/* Блок video */
.video {
  padding-top: 100px;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -50px;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

/* Блок oakley */
.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}

/* Блок feynman */
.feynman {
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 890px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* Блок khan */
.khan {
  padding-top: 100px;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0;
  width: 790px;
  padding-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0;
  padding-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  padding-top: 60px ;
  display: flex;

}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-image: url(../images/khan-book.jpg);
  background-size: cover;

}

.khan__buy-link {
  padding-left: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

/* Блок kaufman */
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 90px 0 90px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* Блок resources */
.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
}

.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
}


/* Блок footer */
.footer {
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  overflow: hidden;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 18px 0 18px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  color: white;
  list-style: none;
  margin: 0;
  padding: 20px 0 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}


.link-hover {
  transition: opacity .2s ease-in-out;
}

.link-hover:hover {
  opacity: .6;
}
